body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

a {
    transition: translate 0.3s;
    color: inherit;
    text-decoration: none;
}
a:hover {
    translate: 0 -0.5vh;
}
button {
    transition: translate 0.3s, filter 0.3s;
}
button:hover:not(.eapps-instagram-feed-posts-slider-nav, .events-arrow) {
    translate: 0 -0.5vh;
    filter: invert(0.1);
}
.clickable {
    color: #142f07;
    text-decoration: underline;
    text-underline-offset: 0.3vh;
}
.clickable:hover {
    cursor: pointer;
}
button:hover {
    cursor: pointer;
}

.align-left {
    object-position: left;
}

/* https://community.wappler.io/t/hide-scroll-bar/64874 */
/* For modern browsers <- i didnt write this, but i love that it implies firefox is more "modern" then edge */
html {
    overflow: auto;
    overflow-x: hidden;
    scrollbar-width: none; /* Firefox */

    background-color: aliceblue;
}

html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

.invert {
    filter: invert(1);
}

iframe {
    border: none;
}

.center-div {
    text-align: center;

    @media(max-width: 999px) {
        display: grid;
    }
}

.clean-button button {
    @media(min-width: 1000px) {
        width: 25%;
    }

    border: none;

    margin: 2vh 2vw;

    background-color: rgb(0 0 0 / 0.1);
    box-shadow: rgb(0 0 0 / 0.1) 0 0 1vh 1vh;
    border-radius: 0.5vh;
    padding: max(1vh, 1vw) max(2vh, 2vw);
    text-transform: uppercase;
    font-size: max(1.5vh, 1vw);
}