body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

@starting-style {
    transition: none;
}
a {
    transition: 0.3s;
    color: inherit;
    text-decoration: none;
}
a:hover {
    transform: translate(0, -0.5vh);
}
button {
    transition: 0.3s;
}
button:hover {
    transform: translate(0, -0.5vh);
    filter: invert(0.1);
}
.clickable {
    color: #12a18c;
    text-decoration: underline;
}
button:hover {
    cursor: pointer;
}

/* https://community.wappler.io/t/hide-scroll-bar/64874 */
/* For modern browsers <- i didnt write this, but i love that it implies firefox is more "modern" then edge */
html {
    overflow: auto;
    overflow-x: hidden;
    scrollbar-width: none; /* Firefox */

    background-color: aliceblue;
}

html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

.invert-image {
    filter: invert(1);
}

iframe {
    border: none;
}

.clean-button button {
    display: block;
    margin: 3vh auto;

    border: none;

    background-color: rgb(0 0 0 / 0.1);
    box-shadow: rgb(0 0 0 / 0.1) 0 0 1vh 1vh;
    border-radius: 0.5vh;
    padding: max(1vh, 1vw) max(2vh, 2vw);
    text-transform: uppercase;
    font-size: max(1.5vh, 1vw);
}