header {
    z-index: 1000;
    position: relative;

    font-family: "Inter", sans-serif;
    font-size: max(1.5vh, 0.8vw);
    font-weight: 500;
    letter-spacing: max(0.3vh, 0.2vw);
    text-transform: uppercase;
    background-color: aliceblue;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1vh 3vw;

    img {
        display: block;
        width: max(15vw, 15vh);
    }

    .right {
        position: relative;
    }

    #mobile-nav {
        background: none;
        border: none;
        font-size: 3vh;
    }

    .nav-bar {
        display: none;
    }

    .nav-bar.clicked-nav-bar {
        display: flex;
        flex-direction: column;

        position: absolute;
        top: 4vh;
        right: -3vw;

        width: max-content;

        background: aliceblue;
        border-bottom-left-radius: 1vh;

        a {
            text-align: center;
            padding: 2vh 5vw;
        }
    }

    /* desktop stuff is simpler, so it makes sense to do it seperately */
    @media (min-width: 1200px) {

        #mobile-nav {
            display: none;
        }

        .nav-bar {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            position: static;
            background: none;
            box-shadow: none;

            a {
                padding: 1vw 1.5vw;
            }

            .button {
                color: aliceblue;
                background: #032f0b;
                margin: 0.5rem;
                border-radius: 4px;
                text-align: center;
            }
        }
    }
}