.showcase {
    padding: 2vh 2vw;

    .showcase-content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        text-align: left;

        h1 {
            font-family: "Cormorant Garamond", serif;
            font-size: max(2.5vw, 2.5vh);
            font-weight: 500;
            line-height: 0.9;
            margin: 0;
        }
        h2 {
            text-transform: uppercase;
            font-size: max(1vh, 1vw);
            font-weight: normal;
        }

        p {
            font-family: "Montserrat", sans-serif;
            font-size: max(1.5vw, 1.5vh);
            font-weight: 300;
            letter-spacing: 0.2vw;
            line-height: 1.2;
        }

        a {
            font-size: max(1vw, 1vh);
            text-transform: uppercase;
            text-align: center;
        }

        .japanese-fruit-product {
            text-align: center;
        }

        div, img {
            max-width: 25vw;
        }

        img {
            width: 15vw;
            height: 12vw;
            object-fit: cover;
        }

        @media (max-width: 1000px) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2vw;

            > :first-child {
                grid-column: 1 / -1;
            }
            div, img {
                max-width: 100%;
            }

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}