.gallery {
    .track-parent {
        overflow: hidden;
    }

    .gallery-track {
        gap: 0;
        padding: 0 0;
        margin: 0 0;

        img {
            height: min(20vh, 20vw);
            width: contain;
            border-radius: 0;
        }
    }
}