.gallery {
    .track-parent {
        overflow: hidden;

        mask-image: linear-gradient(
                to right,
                transparent 0%,
                black 8%,
                black 92%,
                transparent 100%
        );
    }

    .gallery-track img {
        border-radius: 0;
    }
}