.summary {
    text-align: center;
    padding: 2vh;

    h1 {
        font-family: "Cormorant Garamond", serif;
        font-size: max(5vw, 5vh);
        font-weight: 500;
        line-height: 0.9;

        margin: 0;
        padding: 2vh;
    }
    h2 {
        text-transform: uppercase;
        font-size: max(2vh, 1vw);
        font-weight: normal;
        margin: 0;
    }
    h3 {
        margin: 0;
        font-weight: 550;
        text-transform: uppercase;
        font-size: 1.5vh;
    }
    p {
        padding: 0;
        font-size: max(1.2vh, 0.9vw);
        line-height: max(1.5vh, 1.2vw);
    }

    .grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        div {
            position: relative;
            flex: 0 0 20%;
            padding: 0 1vw;

            img {
                width: 20%;
                display: block;
                margin: 0 auto;
            }

            &:not(:last-child)::after {
                content: "";
                position: absolute;
                right: 0;
                top: 15%;
                height: 70%;
                width: 1px;
                background: rgba(0, 0, 0, 0.2);
            }
        }

        @media(max-width: 1000px) {
            div {
                position: relative;
                flex: 1 0 40%;

                &:not(:last-child)::after {
                    background: rgba(0, 0, 0, 0);
                }
            }
        }
    }
}