.gallery {
    overflow: hidden;

    .track-parent {
        overflow: hidden;

        mask-image: linear-gradient(
                to right,
                transparent 0%,
                black 8%,
                black 92%,
                transparent 100%
        );
    }


    .gallery-track {
        display: flex;
        width: max-content;
        animation: scroll 60s linear infinite;

        padding: 2vh 0;

        img {
            width: min(20vh, 20vw);
            height: min(20vh, 20vw);
            object-fit: cover;
            transition: 0.3s;
            z-index: 1;
        }

        img:hover {
            transform: scale(1.2);
        }
    }
}

@keyframes scroll {
    100% {
        transform: translateX(-25%);
    }
}