.promo {
    .events-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 100%));
        gap: 3vw;

        .box {
            width: 100%;

            border: 2px solid black;
        }

        .box img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}