body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
a .clickable {
    color: #00b4f6;
    text-decoration: underline;
}
button:hover {
    cursor: pointer;
}

/* https://community.wappler.io/t/hide-scroll-bar/64874 */
/* For modern browsers */
html {
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    background-color: aliceblue;
}

html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}