.gallery {
    overflow: hidden;

    .gallery-track {
        display: flex;
        width: max-content;
        animation: scroll 60s linear infinite;

        gap: 2vw;
        padding: 2vh 0;
        margin: 0 -6vw;

        img {
            width: min(20vh, 20vw);
            height: min(20vh, 20vw);
            border-radius: 10%;
            object-fit: cover;
        }
    }

    .about-us {
        background: none;

        padding-inline: 10%;

        h1 {
            text-shadow: #051f03 1vh 1vh 1vh;
            margin: 0;

            font-family: "Cormorant Garamond", serif;
            font-size: max(5vw, 5vh);
            font-weight: 500;
            line-height: 0.9;

            text-align: left;

            .reimagined {
                color: #c2dc9a;
            }
        }

        h2:first-child {
            padding-top: 4vh;
            padding-bottom: 2vh;
        }
        h2 {
            text-transform: uppercase;
            font-size: max(2vh, 1vw);
            font-weight: normal;
        }

        p {
            font-family: "Montserrat", sans-serif;
            font-size: max(1.5vw, 1.5vh);
            font-weight: 300;
            letter-spacing: 0.2vw;
            line-height: 1.2;
        }
    }
}

@keyframes scroll {
    100% {
        transform: translateX(-25%);
    }
}